.title_profile {
	display: table;
	height: 60px;
	width: 100%;
	margin-left: 13px;
	text-align: left ;
	/*border: 2px dashed #f69c55;*/
}
.sub_title {
	padding: 0px;
	margin-left: 20px;
	display: table-cell;
	vertical-align: middle;
}
.line_profile{
	border: 2px solid rgba(15, 145, 237, 0.61);
}
.line_category{
	border: 1px solid rgba(40, 83, 111, 0.35);
}

.diplay_magin{
	margin-left: 25px;
}
.diplay_magin_g{
	margin-left: 35px;
}
.diplay_magin_link{
	margin-left: 40px;
}