.magin_bottom_form{
    margin-bottom: 35px;
}
.magin_top_form_botton{
    margin-top: 15px;
}
@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 750px; /* New width for default modal */
    }
    .modal-sm {
        max-width: 350px; /* New width for small modal */
    }
}
@media screen and (min-width: 992px) {
    .modal-lg {
      width: 950px; /* New width for large modal */
    }
}

.user-active{
    color: blue;
}
.user-deactivate{
    color: red;
}
.magin-vertical{
    margin-top: 3%;
}

.display-block{
    display: block;
}
.Match-Password{
    color: rgba(20, 71, 238, 0.932);
}